@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}

#Home {
    background-image: url("images/home-background.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100vh;
    background-position-y: 0;
    height: 100vh;
}

header {
    height: 100px;
}

header > h1 {
    position: relative;
    left: 5vw;
    top: 25px;
    display: inline-block;
    color: #11416f;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
}

.navbar {
    position: relative;
    right: 5vw;
    float: right;
    margin: auto;
}

.nav-item {
    float: left;
}

.nav-item > a {
    display: block;
    text-align: center;
    margin: 20px 0;
    padding: 14px 20px;
    font-size: 1.3rem;
    color: white;
}

.nav-item > a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    margin: auto;
    transition: width .3s;
}

.nav-item > a:hover::after {
    width: 100%;
}

.home-text {
    position: absolute;
    top: 30vh;
    left: 7vw;
}

.home-text > a {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    box-shadow: 2px 1px 5px #888888;
    padding: 18px 15px;
    transition: 1s;
    background-color: #11416f;
    color: white;
    border-radius: 1px;
}

.home-text > a:hover {
    transition: 1s;
    color: rgba(256, 256, 256, .8);
    border-radius: 4px;
    box-shadow: none;
}

#home-text-span {
    color: #11416f;
    font-size: 2.5rem;
}

.home-text > p {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.7;
}

#Home{
    overflow: hidden;
}

.apps {
    position: relative;
    top: 150px;
    width: 100%;
    text-align: center;
}

.app {
    display: inline-block;
    color: #888888;
    width: 50%;
}

.app > span {
    font-size: 1.2rem;
    display: inline-block;
    padding: 5px;
}

.app> svg, .app> img {

    height: 50px;
    width: 50px;
}
.cls-outside-1{fill:#11416f;}
.cls-inside-2{fill:#fff;}
#About{
    background-color: #11416f;
}

.about-div{
    line-height: 1.5;
    background: url("images/background.jpg") no-repeat center center fixed;
    padding: 20vh 10vw;
    background-size: cover;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
}

.about-profiles{
    float: right;
    text-align: center;
}

.profile-pic{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin-top: 30px;
}

.about-text{
    width: 50vw;
    display: inline-block;
    color: white;
}

.about-text > h1 {
    display: inline-block;
    margin-bottom: 30px;
}
.about-text > *{
    box-shadow: inset 2000px 0 0 0 rgb(0 0 0 / 50%);
    border-color: rgba(0, 0, 0, 1);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.about-profiles > ul,
.socials > ul{
    margin-top: 30px;
}
.about-profiles > ul > li
{
    display: inline;
    margin: 0 10px;
}

.about-profiles > ul > li:hover,
.socials > ul > li:hover{
    opacity: 0.7;
}

#Skills{
    padding: 5vh 10vw;
    background-color: #112b3c;
    color: white;
    position: relative;
}

.resume{
    width: 60%;
    display: inline-block;
}

.resume::before{
    content: "";
    background: #888888;
    position: absolute;
    top: calc(5vh + 50px);
    left: 6vw;
    bottom: 0;
    width: 5px;
}

.resume > div{
    margin: 50px 0;
}

.resume > div > span{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 15% 50%);
    position: relative;
    right: 30px;
    background: #888888;
    padding: 5px 30px 5px 50px;
    transform: translateY(-30px);
    opacity: 0;
    transition: 0.3s;
}

.resume > div.show > span{
    transform: translateY(0);
    opacity: 1;
}

.resume > div > h1{
    opacity: 0;
    transition: 0.3s;
}
.resume > div.show > h1{
    opacity: 1;
}

.resume > div > p{
    transform: translateX(30px);
    opacity: 0;
    transition: 0.3s;
}

.resume > div.show > p{
    transform: translateX(0);
    opacity: 1;
}

.resume > div > *{
    margin: 12px 0;
}

.resume > div.resume-icon-1::before{
    content: "";
    position: absolute;
    background-image: url("images/work.svg");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    left: calc(6vw - 22px);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.resume > div.resume-icon-2::before{
    content: "";
    background-image: url("images/education.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px;
    position: absolute;
    left: calc(6vw - 22px);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.resume > div::before{
    content: "";
    position: absolute;
    left: calc(6vw - 5px);
    background: rgba(256,256,256,1);
    border-radius: 100%;
    width: 15px;
    height: 15px;
    z-index: 2;
}

.resume-icon-1 > h1,
.resume-icon-2 > h1{
    position: relative;
    top: 10px;
}

.google-play{
    color: #ffff;
    border-bottom: 1px solid #ffff;
    transition: 0.3s;
}

.progress-bars{
    float: right;
    width: 30%;
}
.progress-bars > div{
    margin: 30px 0;
}

.progress > h1{
    text-align: center;
    position: relative;
    transform: translateY(30px);
    transition: 0.3s;
    opacity: 0;
}
.progress.show > h1{
    transform: translateY(0);
    opacity: 1;
}

.progress > h4{
    margin-bottom: 10px;
    opacity: 0;
    transition: 0.3s;
}

.progress.show > h4{
    opacity: 1;
}

.progress-bar{
    width: 100%;
    background-color: #888888;
    height: 30px;
    border-radius: 30px;
    padding: 5px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.3s;
}

.progress.show > .progress-bar {
    opacity: 1;
}

.progress > .progress-bar > div{
    background-color: white;
    height: 20px;
    border-radius: 30px;
    width: 0;
    opacity: 0;
    transition: 1.5s;
}

.progress.show > .progress-bar > div{
    width: var(--percentage);
    opacity: 1;
}

#Projects{
    position: relative;
    padding: 70px 0;
    background: #F5F5F5F5;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
    grid-gap: 3em;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
    width: 80vw;
    margin: auto;
}

#Projects > h1{
    margin: 70px 0;
    text-align: center;
}
.card > img{
    height: 100px;
    width: 100px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid #888888;
}

.card{
    position: relative;
    width: 250px;
    padding: 20px 10px 50px;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transition: 0.5s;
}

.card > h3{
    margin-bottom: 20px;
}

.card > div{
    position: absolute;
    bottom: 15px;
    width: 250px;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

#Contact{
    padding: 5vh 10vw;
    background: #2C3333;
    color: #ffffff;
}

#Contact > div{
    position: relative;
    display: inline-block;
}

.contact-text > h1{
    margin-bottom: 15px;
}

.contact-text{
    float: left;
    width: 60%;
    margin-top: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.socials{
    width: 39%;
}
.socials > ul > li{
    margin: 20px;
}
.socials > ul > li > svg{
    vertical-align: middle;
    width: 32px;
}
.socials > ul > li > a{
    padding-left: 15px;
    color: white;
}

.socials::before{
    content: "";
    position: absolute;
    text-align: center;
    top: 20px;
    left: 0;
    height: 200px;
    width: 5px;
    background: white;
}

.side-menu {
    display: none;
}

@media (max-width: 768px){
    .navbar{
        width: 100%;
        height: 100%;
        max-height: 0;
        transition: max-height .2s ease-out;
        position: fixed;
        overflow: hidden;
        background-color: #112b3c;
        z-index: 100;
        right: 0;
    }
    .nav-item{
        width: 100%;
    }
    .nav-item > a {
        text-align: left;
        padding-left: 5vw;
    }
    .hamb{
        cursor: pointer;
        float: right;
        padding: 40px 20px;
    }


    .hamb-line {
        background: white;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;

    }

    .hamb-line::before,
    .hamb-line::after{
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamb-line::before{
        top: 5px;
    }

    .hamb-line::after{
        top: -5px;
    }

    /* Toggle menu icon */

    .side-menu:checked ~ .navbar{
        transition: max-height .5s ease-out;
        max-height: 100%;
    }

    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }

    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;

    }

    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }

    header > h1{
        color: white;
        top: 10px;
    }
    #Home{
        position: relative;
        overflow: hidden;
        background: url("images/home-background-mobile2.png") bottom center no-repeat;
    }

    .home-text{
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 80%;
    }
    #home-text-span{
        font-size: 2rem;
        color: white;
    }

    .home-text > p{
        font-size: 1rem;
        color: #e1e1e1;
    }

    .home-text > a{
        top: 68%;
        box-shadow: none;
        padding: 15px 12px;
        font-size: 0.9rem;
    }
    .apps{
        position: absolute;
        top: 82%;
    }
    .app > span {
        font-size: 1rem;
    }

    header::after{
        content: "";
        position: absolute;
        top: 15%;
        right: 60%;
        height: 130px;
        width: 180px;
        background: url("images/monitor.png") no-repeat;
        background-size: contain;
    }
    header::before{
        content: "";
        position: absolute;
        top: 15%;
        left: 82%;
        height: 120px;
        width: 90px;
        background: url("images/mobile.png") no-repeat;
        background-size: contain;
    }
    .home-text::after{
        content: "";
        position: absolute;
        bottom: 20vh;
        right: 75%;
        height: 120px;
        width: 150px;
        background: url("images/window.png") no-repeat;
        background-size: contain;
    }
    .home-text::before{
        content: "";
        position: absolute;
        bottom: 25vh;
        left: 75%;
        height: 150px;
        width: 200px;
        background: url("images/laptop.png") no-repeat;
        background-size: contain;
    }


    .about-div{
        padding: 10vh 10vw ;
    }
    .about-text{
        width: 80vw;
    }
    .about-profiles{
        float: unset;
        text-align: center;
    }

    .resume {
        width: 70vw;
        display: block;
        margin: 0 auto;
        float: right;
    }
    .progress-bars{
        display: block;
        margin: 0 auto;
        width: 75vw;
        float: unset;
        clear: both;
    }

    #Contact > div{
        display: block;
    }
    .contact-text{
        float: unset;
        width: unset;
    }
    .socials > ul{
        width: fit-content;
        margin: 30px auto 0;
    }
    .socials::before{
        top: -25px;
        height: 5px;
        width: 100%;
    }
    .socials{
        width: unset;
    }
}

